.todo-input {
  display: inline-block;
  width: 90%;
  padding: 6px 12px;
  margin-top: 100px;
  margin-right: -4px;
  border: 1px solid silver;
  border-radius: 3px 0 0 3px;
  font-size: 16px;
}

.add-btn {
  display: inline-block;
  width: 10%;
  background-color: #0288D1;
  padding: 7px;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 0 3px 3px 0;
  font-size: 16px;
  cursor: pointer;
}
