html,
body {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: #0288D1;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.main-container {
  width: 30%;
  margin: 0 auto;
}
